<div class="box">
  <div class="left">
    <h3>产品与服务</h3>
    <ul style="margin-bottom: 60px; margin-left: -20px;" *ngIf="!show">
      <!-- <li *ngFor="let item of devlists" (click)="handleActive(item.id)"
        class="{{item.id === this.content ? 'active' : ''}}">{{item.name}}
      </li> -->
      <li *ngFor="let item of devlists" (click)="handleActive()">
        <a [routerLink]="['/device']" routerLinkActive="active" [queryParams]="{ id: item.id }">{{ item.name }}</a>
      </li>
    </ul>
    <ul style="margin-bottom: 60px; margin-left: -22px;" *ngIf="show">
      <!-- <li *ngFor="let item of devlists" (click)="handleActive(item.id)"
        class="{{item.id === this.content ? 'active' : ''}}">{{item.name}}
      </li> -->
      <li *ngFor="let value of this.detaillist" class="detail">{{ value.name }}</li>
    </ul>
    <h3>联系我们</h3>
    <div class="tel">
      <p>西安维思自动化工程有限公司</p>
      <p>西安市未央区草滩六路大普工业园3栋4层</p>
      <p>陕西 · 西安 · 710061</p>
      <p>电话: 029-89135860</p>
      <p>传真: 029-85332129</p>
      <p>邮箱：waysauto@foxmail.com</p>
    </div>
  </div>
  <div class="line"></div>
  <div class="right">
    <div class="content" *ngIf="!show">
      <p style="font-size: 24px; border-bottom: 1px solid #ccc;">{{ this.name }}</p>
      <div *ngFor="let item of this.dev" class="message">
        <img style="width: 30%;" src="{{ item.src }}" alt="设备" />
        <div class="desc">
          <p style="font-size: 18px;">{{ item.name }}</p>
          <span
            >{{ item.desc }}
            <a href=""
              ><a routerLink="/device" routerLinkActive="active" [queryParams]="{ id: item.id, list: 1 }" (click)="handleShow()"
                >更多...</a
              ></a
            >
          </span>
        </div>
      </div>
    </div>
    <div class="content">
      <p style="font-size: 24px; border-bottom: 1px solid #ccc;">电寿命试验</p>
      <div class="message" *ngFor="let items of this.list">
        <img style="width: 30%;" src="{{ items.src }}" alt="设备" />
        <div class="desc">
          <p style="font-size: 18px;">{{ items.name }}</p>
          <span>{{ items.desc }} <a href="">更多...</a> </span>
        </div>
      </div>
      <!-- {{this.id}} -->
    </div>
  </div>
  <!-- 每个内容都有自己的id值 , 当设备分类的id等于之前的id  显示相应的内容 -->
</div>
