<div class="alain-yun__topbar-item hidden-mobile">
  <a routerLink="/home" class="alain-yun__topbar-item-btn" routerLinkActive="active1">
    <!-- {{ 'yun.topbar.dashboard' | i18n }} -->
    首页
  </a>
</div>
<!-- <product-category #pc topbar-dropdown (topbar-dropdown-change)="pc.openChange($event)"></product-category> -->
<div class="alain-yun__topbar-item">
  <a routerLink="/introduce" class="alain-yun__topbar-item-btn" routerLinkActive="active1">
    <!-- {{ 'yun.topbar.monitor' | i18n }} -->
    公司简介
  </a>
</div>
<div class="alain-yun__topbar-item">
  <a routerLink="/device" class="alain-yun__topbar-item-btn" routerLinkActive="active1">
    <!-- {{ 'yun.topbar.stats' | i18n }} -->
    产品中心
  </a>
</div>

<div class="alain-yun__topbar-item">
  <a routerLink="/technology" class="alain-yun__topbar-item-btn" routerLinkActive="active1">
    <!-- {{ 'yun.topbar.purge' | i18n }} -->
    技术支持
  </a>
</div>
<div class="alain-yun__topbar-item">
  <a routerLink="/news" class="alain-yun__topbar-item-btn" routerLinkActive="active1">
    <!-- {{ 'yun.topbar.purge' | i18n }} -->
    新闻中心
  </a>
</div>
<div class="alain-yun__topbar-item">
  <a routerLink="/cooperate" class="alain-yun__topbar-item-btn" routerLinkActive="active1">
    <!-- {{ 'yun.topbar.purge' | i18n }} -->
    加入我们
  </a>
</div>
<div class="alain-yun__topbar-item">
  <a routerLink="/service" class="alain-yun__topbar-item-btn" routerLinkActive="active1">
    <!-- {{ 'yun.topbar.purge' | i18n }} -->
    服务售后
  </a>
</div>
