<div class="box">
  <div class="left">
    <h3>公司简介
    </h3>
    <h3>联系我们
    </h3>
    <div class="tel">
      <p>西安维思自动化工程有限公司</p>
      <p>西安市未央区草滩六路大普工业园3栋4层</p>
      <p>陕西 · 西安 · 710061</p>
      <p>电话: 029-89135860</p>
      <p>传真: 029-85332129</p>
      <p>邮箱：waysauto@foxmail.com</p>

    </div>
  </div>
  <div class=" line">
  </div>
  <div class="right">
    <div class="content">
      <p style="font-size: 24px;border-bottom: 1px solid #ccc;">公司简介</p>
      <div class="art">
        <p style="text-align: center;">公司简介</p>
        <span>西安维思自动化工程有限公司是一家专业的电气与自动化技术供应商。公司拥有丰富的试验检测行业经验，积极引进先进技术，坚持自主创新，产品严格遵循IEC/UL/GB等国际国内标准，致力于为客户提供最具有竞争力的非标自动化试验检测设备及系统工程。
          公司业务领域包括高中低压电器试验设备、试验室建设与工程实施、输配电设备及施工工程、非标自动化设备与系统、工业机器人设计与系统集成、水处理等行业自动化工程。主要产品包括电寿命试验设备、机械寿命试验设备、温升试验设备、老化试验设备、脱扣特性试验设备、电机综合测试设备、高速数据采集装置、选相合闸开关等自动化试验设备，并开发有电器试验室控制系统、试验室信息管理系统、数控机床控制系统、远程无线监控系统、水处理自动化系统、天然气自动化监控系统、窑炉自动化监控系统、变电站综合保护监测系统
          、选相合闸控制系统、大电流试验系统等系统及软件。公司通过ISO-9001管理体系认证，BV供应商体系等资格认证，是西门子、ABB、GE、CSA、西电集团、大全集团等国内外大型公司与质检机构的合格供应商。</span>
        <img src="http://www.weisiauto.com/uploadfile/2015/1208/20151208110320408.png" alt="">
      </div>
    </div>
  </div>
</div>
